.content-pane {
    -fx-pref-width: 1096px;
    -fx-pref-height: 814px;
}

.table-view .column-header {
    -fx-background-color: #B6FF00;
}

.summary-grid .label {
    -fx-padding: 0 10 0 10;
    -fx-background-color: gray, white;
    -fx-background-insets: 1, 1 1 1 1 ;
}

.summary-grid .summary-grid-header{
    -fx-background-color: gray, #B6FF00;
    -fx-font-weight: bold ;
    -fx-background-insets: 1, 1 1 1 1
}

.summary-grid .text-field {
    -fx-padding: 0 10 0 10;
    -fx-background-color: gray, white;
    -fx-background-insets: 1, 1 1 1 1
}

.green-cell {
    -fx-background-color: greenyellow;
}

.yellow-cell {
    -fx-background-color: yellow;
}